table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-family: 'Comic Sans MS';
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
  